.app{

.content-box{
    font-size: 30px;
    width: 300px;
    padding-bottom: 200px;
    p{   background: #ffff;}
    margin: 100px auto;
.button{
    font-size: 30px;
    background:red;
    height: 50px;
    position: sticky;
    bottom : 100px;
    z-index: -1;
    }
}
}